# Configuration de la base de données
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=elearning-db

# Clé secrète JWT (changez en production !)
JWT_SECRET=monSecretJWT

# Port du serveur
PORT=3001

# URL du frontend autorisée par le CORS
FRONTEND_URL=http://localhost:5173
